# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.sqlite
/storage/*.sqlite3
/public/build
/public/hot
/public/mix-manifest.json

# Arquivos sensíveis
.env
.env.*
!.env.example
*.key
*.pem
*.pub
*.crt

# IDEs e ferramentas de desenvolvimento
/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpactor.json
/.phpunit.cache
.phpunit.result.cache

# Logs e backups
npm-debug.log
yarn-error.log
*.bak
*.tmp
*.swp
*~
auth.json

# Homestead
Homestead.json
Homestead.yaml

# OS files
.DS_Store
Thumbs.db
